html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: grey;   
    font-family: 'EB Garamond', serif;
}

.navbar {
    background: transparent !important;
    padding: 25px 70px;
}

.nav-link {
    color: grey;
    font-size: 18px;
    margin-right: 3rem;
    padding: 5px 25px !important;
}

.nav-link:active {
    background-color: grey;
    color: black;
}

.active {
    background-color: grey !important;
    color: black !important;
}

.dropdown-menu {
  list-style: none !important;
}

.dropdown-item {
  color: grey;
}

.dropdown-item:active {
  background-color: grey;
  color: black;
}

.navLogo {
  width: 250px;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.jumbotron {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  height: calc(100vh - 120px);
}

.jumboText h1 {
  font-size: 60px;
  font-weight: 300;
  color: grey;
  margin-right: 20px;
}

.jumboPic {
  height: 100%;
  width: 60%;
  filter: brightness(40%);
  background-image: url(./images/pic11.jpeg);
  background-size: cover;
  background-position: top;
}

#span1 {
  font-weight: bold;
}

.dropdown-menu {
  width: 300px;
  background-color: black;
  border-radius: 0px;
}

.dropdown-item {
  font-size: 17px;
}

.topics {
  width: 70%;
  padding: 50px 0; 
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.topics a {
  text-decoration: none;
  color: grey;
}

.topic {
  height: 500px;
  padding: 30px 20px;
}

.topic:hover {
  transition: all 0.8s;
  transform: scale(1.05);
}

.topicsText {
  width: 70%;
  padding: 5px;
  align-self: center;
  border-bottom: 1px solid grey;
  margin-top: 200px;
}


#styleTopic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)) , url("./images/style/pic7.jpg");
  background-size: cover;
  background-position: top;
}

#lifestyleTopic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)) , url("./images/lifestyle/pic2.jpg");
  background-size: cover;
  background-position: center;
}

#gearTopic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)) , url("./images/gear/pic5.jpg");
  background-size: cover;
  background-position: right;
}

#etiquetteTopic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)) , url("./images/etiquette/pic7.jpg");
  background-size: cover;
  background-position: top;
}

.appear {
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(40px);
}

.appear.inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.3s;
}

footer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
  .navbar {
    padding: 20px 30px;
  }
  .navLogo {
    width: 200px;
  }

  .jumboPic {
    display: none;
  }

  .jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("./images/pic6.jpeg");
    background-size: cover;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jumboText {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .navLogo {
    width: 110px;
  }

  .jumboText {
    width: 75%;
  }

  .jumboText h1 {
    font-size: 50px;
  }

  .nav-link, .dropdown-item {
    font-size: 12px;
  }
  
  .topics, .topicsText {
    width: 85%;
  }
}