html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    background: linear-gradient(#e66465, #9198e5);
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid white;
    padding: 20px;
}

.title {
    color: white;
}

.title > h1{
    font-size: 190px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.teamContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: white;
}

.karticaClana{
    display: flex;
    align-items: center;
}

.karticaClana > img {
    filter: grayscale(100%);
    border-radius: 50px;
}

.slikaKartice {
    width: 300px;
    margin-right: 30px;
}

.details {
    text-align: right;
}

.teamDesc {
    width: 70%;
    align-self: center;
    margin: 55px;
    color: white;
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 1600px){
    .title {
        display: none;
    }

    .mainContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1100px){
    .teamContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .karticaClana {
        flex-direction: column;
    }

    .slikaKartice {
        margin-bottom: 10px;
    }
}